body {
  background-color: rgb(207, 140, 14);

  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
}

div {
background-color: rgb(222, 38, 38);
color: gold;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #e5ff00;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #eeff00;
}
